---
import '../layouts/style.css';
import Navigation from "../components/Navigation.astro";

---
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>

<Navigation />

<hr>

<div>
    <p>This is About me!</p>
</div>
</body>
