---
import '../layouts/style.css';
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---
<head>
	<meta charset="UTF-8">
	<title>Chris's Website</title>

	</head>
	<body>

	<Navigation />
		<hr>
		<div>
			<h2>Welcome to my personal blog!</h2>
		</div>
		<div>
			<p>If we haven't met, then id like to introduce myself.
				My name is Christaphor Box (yes that's how its spelled.)
				and you can see more about me <a href="/aboutme">here.</a>
				If you would like to see some of my work, be sure to
				check out my <a href="/portfolio">portfolio!</a> If you're
				interested in projects im currently working on, be sure to check
				out my <a href="/devlog">devlog!</a>
			</p>
			<p>

			</p>
		</div>
	<Footer />
	</body>
