<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chris's Website</title>
    <link rel="stylesheet" href="../layouts/style.css">

	</head>
	<body>

		<ul class="navbar">
			<li><a href="index.astro">Home</a></li>
			<li><a href="aboutme.astro">About Me</a></li>
			<li><a href="portfolio.astro">Portfolio</a></li>
			<li><a href="devlog.astro">Devlog</a></li>
		</ul>
		<hr>
		<div>
			<h2>Welcome to my personal blog!</h2>
		</div>
		<div>
			<p>If we haven't met, then id like to introduce myself.
				My name is Christaphor Box (yes that's how its spelled. No there is not a good reason behind it.)
				and you can see more about me <a href="aboutme.astro">here.</a>
				If you would like to see some of my work, be sure to
				check out my <a href="portfolio.astro">portfolio!</a> If you're
				interested in what im currently working on, be sure to check
				out my <a href="devlog.astro">devlog!</a>
			</p>
			<p>

			</p>
		</div>
	</body>
</html>
