---
import '../layouts/style.css';
import Navigation from "../components/Navigation.astro";

---
<head>
    <meta charset="UTF-8">
    <title>Chris's Portfolio</title>

</head>
<body>

<Navigation />

<hr>

<div>
    <p>This is my portfolio!</p>

    <p>Feel free to look over my Github! <a href="https://github.com/BoximusMaximus?tab=repositories" target="_blank">Github</a></p>
</div>
</body>
