.navbar {
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

.navbar a:hover {
    border: 2px whitesmoke solid;
    border-radius: 10px;
    color: darkseagreen;
}
.navbar li {
    margin-left: 10px;
}
.devlog_entry{
    border: darkgray ridge 3px;
    border-radius: 10px;
    background-color: darkslategray;
    color: whitesmoke;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
}
.devlog_entry iframe{
    border: black solid 10px;
    display: block;
    margin: auto;
}
.devlog_entry h1 {
    text-align: center;
    color: skyblue;
}

html{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
a:link, a:visited{
    color: green;
    text-decoration: none;
}